body {
  color: black;
  background-color: hsl(194, 85%, 56%);
  font-family: Georgia, serif;
}
.subtitle { color: red; }
.subtitle {
  border: 2px solid black;
  padding: 20px;
  margin: 40px;
}
#my-name {
  color: navy;
  font-size: 40px;
}
table{
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid #ccc;
      padding: 10px 12px;
      text-align: left;
    }
    th {
      background: #61f10e;
      color: rgb(0, 1, 7);
    }
